<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"></link>

<script src="/webjars/leaflet/1.2.0/leaflet.js"></script>
<script src="/js/map_api_token.js"></script>

<link rel="stylesheet" href="/webjars/leaflet/1.2.0/leaflet.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Scene Manager</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="overview">Overview</a></li>
					<li class="active"><a href="#">Manage</a></li>
					<li><a href="upload">Upload</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="fordeveloper">Developers</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="no-padding" href="login"><img
							href="overview" sec:authorize="isAnonymous()" class="login-btn"
							src="/images/btn_google_signin_dark_normal_web.png"></img></a></li>
					<li><a class="dropdown-toggle nopadding"
						data-toggle="dropdown" sec:authorize="isAuthenticated()"
						sec:authentication="name">Name</a>
						<ul class="dropdown-menu" role="menu">
							<li><a role="button" id="logout">Logout</a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>


	<div class="container">
		<h3>Manage</h3>
		<div th:if="${message}" class="alert alert-info">
			<h5 th:text="${message}" />
		</div>
		<div>
			<div class="col-sm-6">
				<p>Here you see the scenes you uploaded to the scene manager.</p>
				<p>If you want to delete scenes, simply press the delete button
					on the corresponding scene</p>
				<a href="upload" class="btn-lg btn btn-primary" role="button">Upload</a>

			</div>
		</div>
		<div class="col-sm-6">
			<div id="mapid"></div>
		</div>
		<div>
			<table id="adfTable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>Description</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Level</th>
						<th>Altitude</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="adf : ${files}" th:attr="data-uuid=${adf.uuid}">
						<td >Type</td>
						<td >Name</td>
						<td >Beschreibung</td>
						<td>Lat</td>
						<td>Lng</td>
						<td>Lvl</td>
						<td>Alt</td>
						<td><button class="delete"
								type="button">Delete</button></td>
					</tr>
				</tbody>
			</table>
			<div id="msg" class="hidden alert alert-info">
				<h5>No files found. Let's go to upload tab and upload a new
					file!</h5>
			</div>
		</div>


		<footer class="footer">
			<p>
				&copy; 2017 <a href="http://www.teco.edu">TECO</a>
			</p>
		</footer>
	</div>



	<script>
		//<![CDATA[
		$(function() {
			var btn_locateMe = $("#coord");
			var txt_lat = $("#lat");
			var txt_lng = $("#lng");

			$('body').on('click', 'button.delete', function() {
				var id = $(this).attr("adflist-id");
				console.log(id);

				$.ajax({
					type : "DELETE",
					url : "/api/adf/" + id,
					success : function(msg) {
						console.log("Data Deleted succeded");
						location.reload(true);
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
					    console.log(errorThrown)
					}
				
				});			})

			var mymap = L.map('mapid').setView([ 49.012782, 8.4236488 ], 13);
			L
					.tileLayer(
							'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
							{
								attribution : 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
								maxZoom : 18,
								id : MAPBOX_ID,
								accessToken : MAPBOX_ACCESSTOKEN
							}).addTo(mymap);

			$.getJSON("api/adf/user", function(data) {
				populateTable(data);
				$.each(data, function(key, val) {
					console.log(val);
					var lat = val.lat;
					var lng = val.lng;
					var marker = L.marker([ lat, lng ]);
					var desc = "Name: " + val.name + "\n Description: "
							+ val.description;
					marker.bindPopup(desc).openPopup();
					marker.addTo(mymap);
				});

			});

			var logout = $("#logout");
			logout.click(function() {
				var jqxhr = $.post("/logout", function(response) {
					window.location.href = "/";
				}).fail(function() {
					alert("error on logout");
				});
			});

			function populateTable(adfList) {
				var newRows = "";
				var msg = $("#msg");
				if (adfList.length == 0) {
					msg.removeClass("hidden");
				} else {
					msg.addClass("hidden");
					for (i = 0; i < adfList.length; i++) {
						newRows += "<tr adfList-uuid="+adfList[i].uuid +"><td>"
								+ adfList[i].type
								+ "</td><td>"
								+ adfList[i].name
								+ "</td><td class='wordwrap'>"
								+ adfList[i].description
								+ "</td>"
								+ "<td>"
								+ adfList[i].lat
								+ "</td>"
								+ "<td>"
								+ adfList[i].lng
								+ "</td>"
								+ "<td>"
								+ adfList[i].lvl
								+ "</td>"
								+ "<td>"
								+ adfList[i].alt
								+ "</td>"
								+ "<td><button adfList-id="
							+ adfList[i].id
							+ " class='delete' type='button'>Delete</button></td>"
								+ "<tr/>"
					}
					$("table tr:first").after(newRows);
				}
			}

		});
		//]]>
	</script>

	<style>
#mapid {
	height: 300px;
}

body {
	padding-top: 50px;
}

.wordwrap {
	word-break: break-all;
	"
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>


</body>
</html>
